.section {
	padding: 60px 0;
}

.container {
	max-width: var(--container-max-width);
	padding: var(--container-padding);
	margin: 0 auto;
}

.title {
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 40px;
	text-align: center;
	letter-spacing: 0.5px;
}
