.section {
   padding: 60px 0;
}

.container {
   max-width: calc(var(--container-max-width) + 150px);
   margin: 0 auto;
   padding: var(--container-padding);
}

.title {
   font-size: 34px;
   font-weight: 700;
   margin-bottom: 40px;
   letter-spacing: 0.5px;
}
