.loading {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   margin: 160px 0;

   &__inner {
      display: flex;
      align-items: center;
      gap: 8px;

      .spinner {
         width: 16px;
         height: 16px;
         border: 2px solid var(--color-secondary);
         border-top-color: #ffffff;
         border-radius: 9999px;
         animation: spin 1s linear infinite;
      }

      span {
         font-size: 0.875rem;
         background: var(--default-primary-gradient);
         color: transparent;
         background-clip: text;
         font-weight: 500;
      }
   }
}

@keyframes spin {
   to {
      transform: rotate(360deg);
   }
}
