.contactPage {
   padding: 80px 20px;
}

.contentWrapper {
   display: flex;
   gap: 20px;
}

.mapCard {
   flex: 1;
   border-radius: 10px;
   overflow: hidden;
   width: 50%;
   height: 100%;
}

.iframe {
   width: 100%;
   border: none;
}

.contactInfo {
   flex: 1;
   width: 50%;
   padding: 35px;
   border-radius: 10px;
   background: var(--color-bg);
}

.title {
   font-size: 36px;
   font-weight: bold;
   margin-bottom: 10px;
}

.contactInfo p {
   font-size: 17px;
   color: #333;
   line-height: 1.6;
   margin-bottom: 30px;
   max-width: 80%;
}

.cards {
   display: grid;
   grid-template-columns: repeat(2, 400px);
   gap: 15px;
}

.card {
   display: flex;
   align-items: flex-start;
   gap: 15px;
}

.card svg {
   font-size: 28px;
   color: var(--color-primary);
}

.column {
   display: flex;
   flex-direction: column;
   width: 100%;
}

.column h5 {
   font-size: 23px;
   font-weight: bold;
}

.column p {
   font-size: 16px;
   color: #555;
}
