:root {
	--angel-primary-gradient: 145deg;
	--color-primary: #12abcd;
	--color-secondary: #2c67f2;
	--color-primary-gradient: var(--color-primary), var(--color-secondary);
	--default-primary-gradient: linear-gradient(
		var(--angel-primary-gradient),
		var(--color-primary-gradient)
	);
	--color-bg: #ebf9fa;
	--color-text: #333;
	--color-background: rgba(0, 0, 0, 0.111);
	--color-border: #ccc;
	--font-family: 'Inter', Arial, Helvetica, sans-serif;
	--font-size-base: 16px;
	--line-height: 1.6;
	--container-max-width: 1280px;
	--container-padding: 0 20px;

	@media (max-width: 1400px) {
		--container-max-width: 97%;
		--container-padding: 0 15px;
	}

	@media (max-width: 710px) {
		--container-max-width: 98%;
		--container-padding: 0 10px;
	}
}

link {
	cursor: pointer;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-size: var(--font-size-base);
	scrollbar-width: none;
	height: 100%;
}

body {
	width: 100%;
	min-height: 100dvh;
	font-family: var(--font-family);
	font-size: 1rem;
	line-height: var(--line-height);
	color: var(--color-text);
	background-image: url('/assets/images/Bg_all.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	background-attachment: fixed;
	background-blend-mode: overlay;
	display: flex;
	flex-direction: column;
}

#__next,
#root {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	flex: 1;
}

main {
	flex: 1;
	display: flex;
	flex-direction: column;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	max-width: var(--container-max-width);
	width: 100%;
	margin: 0 auto;
	padding: var(--container-padding);
	flex: 1;
	display: flex;
	flex-direction: column;
	@media (max-width: 768px) {
		padding: 0 7px;
	}
}

.wrapper {
	width: 100%;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
}
