.accordion {
	min-width: 400px;
	max-width: 100%;
	margin: 0 auto;
	* {
		will-change: transform, height;
	}

	@media (max-width: 1080px) {
		min-width: 100%;
	}
}

.accordion-item {
	overflow: hidden;
	background: #fff;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	&:not(.isLast) {
		border-bottom: none;
	}

	&.isActive {
		border: 1px solid #00000020;
		&:not(.isFirst) {
			border-top: 0;
		}
	}

	.row {
		display: flex;
		align-items: center;
		gap: 16px;

		&.disabled {
			opacity: 0.5;
			cursor: not-allowed;
			pointer-events: none;
		}

		span:not(.label) {
			font-size: 24px;
		}

		.label {
			font-size: 18px;
			font-weight: 600;
			color: var(--color-text);
			transition: color 0.3s ease;
		}
	}

	.accordion-icon {
		transition: transform 0.3s ease-in-out;
		color: var(--color-primary);
		font-size: 22px;
	}

	.rotate180 {
		transform: rotate(180deg);
	}

	.accordion-content {
		padding: 16px 20px;
		color: var(--color-text);
		font-size: 16px;
		line-height: var(--line-height);
		background: var(--color-accent);
	}

	.accordion-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 16px 20px;
		transition: background 0.3s ease, color 0.3s ease;
		cursor: pointer;
		border-bottom: 1px solid #00000020;

		&:hover {
			.label {
				color: var(--color-primary);
			}
		}

		&.disabled {
			cursor: not-allowed;
			opacity: 0.7;
		}
	}

	@media (max-width: 1080px) {
		.row {
			gap: 12px;

			span:not(.label) {
				font-size: 20px;
			}

			.label {
				font-size: 16px;
			}
		}

		.accordion-content {
			padding: 18px;
		}

		.accordion-header {
			padding: 16px 20px;
		}
	}
}
